<% content_for :title, "#{@ui_library.name} UI" %>
<%= turbo_stream_from @ui_library %>

<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>

  <h1 class="font-bold text-4xl mb-4"><%= @ui_library.name %> UI </h1>
  <%= link_to "Customization settings", ui_library_preferences_path(@ui_library), class: "text-lg" %>

  <%= turbo_frame_tag :button_section do %>
    <%= render "button_section", ui_library: @ui_library %>
  <% end %>
  
  <div class="flex gap-4 mt-8">
    <%= link_to "Edit this ui library", edit_ui_library_path(@ui_library), class: "w-full sm:w-auto text-center rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
    <%= link_to "Back to ui libraries", ui_libraries_path, class: "w-full sm:w-auto text-center rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
    <%= button_to "Destroy this ui library", @ui_library, method: :delete, form_class: "sm:inline-block", class: "w-full rounded-md px-3.5 py-2.5 text-white bg-red-600 hover:bg-red-500 font-medium cursor-pointer", data: { turbo_confirm: "Are you sure?" } %>
  </div>
</div>
