<%= turbo_stream_from @ui_library, :preferences %>

<div class="flex flex-col">
  <h1 class="text-4xl mt-8"> Customization Settings </h1>
  <p class="text-lg"> Make your UI library feel more like you </p>
  <div class="flex items-center gap-4 mt-4">
    <%= link_to "Back to UI library", @ui_library %>
  </div>

  <div class="w-full flex flex-col">
    <%= render "preview_element", ui_library: @ui_library %>
    <div class="flex flex-col lg:flex-row h-[50vh] overflow-y-auto">
      <div class="w-full">
        <%= turbo_frame_tag :edge_style_preference do %>
          <%= render "edge_style_preference", ui_library: @ui_library %>
        <% end %>
        <%= turbo_frame_tag :background_color_preference do %>
          <%= render "background_color_preference", ui_library: @ui_library %>
        <% end %>
        <%= turbo_frame_tag :text_color_preference do %>
          <%= render "text_color_preference", ui_library: @ui_library %>
        <% end %>
      </div>
    </div>
  </div>
</div>